In [48]:
import pandas as pd 
import numpy as np 

atletas = pd.read_csv("datasets/athlete_events.csv", index_col=0)
atletas.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [49]:
regiones = pd.read_csv("datasets/noc_regions.csv", index_col=0)
regiones.head()

          region                 notes
NOC
AFG  Afghanistan                   NaN
AHO      Curacao  Netherlands Antilles
ALB      Albania                   NaN
ALG      Algeria                   NaN
AND      Andorra                   NaN

In [50]:
atletas_df = atletas.merge(regiones, how='left', on='NOC')
atletas_df.head()
#merge() de pandas combina los dos df, 
#how=left indica in left join. Se mantiene toda la información de la izquierda ('atletas')
#Se usa como referencia 'NOC'

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [51]:
atletas_df.rename(columns={'region':'Region', 'notes':'Notes'}, inplace=True)
#Inplace se hace directamente en el df, será modificado
atletas_df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,Region,Notes
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN,Netherlands,NaN

In [52]:
atletas = atletas_df.copy()
atletas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 16 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    271116 non-null  object
 1   Sex     271116 non-null  object
 2   Age     261642 non-null  float64
 3   Height  210945 non-null  float64
 4   Weight  208241 non-null  float64
 5   Team    271116 non-null  object
 6   NOC     271116 non-null  object
 7   Games   271116 non-null  object
 8   Year    271116 non-null  int64
 9   Season  271116 non-null  object
 10  City    271116 non-null  object
 11  Sport   271116 non-null  object
 12  Event   271116 non-null  object
 13  Medal   39783 non-null   object
 14  Region  270746 non-null  object
 15  Notes   5039 non-null    object
dtypes: float64(3), int64(1), object(12)
memory usage: 33.1+ MB

In [53]:
atletas.describe()

                 Age         Height         Weight           Year
count  261642.000000  210945.000000  208241.000000  271116.000000
mean       25.556898     175.338970      70.702393    1978.378480
std         6.393561      10.518462      14.348020      29.877632
min        10.000000     127.000000      25.000000    1896.000000
25%        21.000000     168.000000      60.000000    1960.000000
50%        24.000000     175.000000      70.000000    1988.000000
75%        28.000000     183.000000      79.000000    2002.000000
max        97.000000     226.000000     214.000000    2016.000000

In [54]:
#Seleccionar columnas a usar
columnas = ['Name','Sex','Age','Height','Weight','Team','Year','Season','City','Sport','Event','Medal']
df = atletas.loc[:,columnas]
df.head()

,Name,Sex,Age,Height,Weight,Team,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.0,80.0,China,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [55]:
atletas = df.copy()
atletas.head()

,Name,Sex,Age,Height,Weight,Team,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.0,80.0,China,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [56]:
renombrar_columnas = {
    'Name':'Nombre',
    'Sex':'Sexo',
    'Age':'Edad',
    'Height':'Estatura',
    'Weight':'Peso',
    'Team':'Equipo',
    'Year':'Año',
    'Season':'Temporada',
    'City':'Ciudad',
    'Sport':'Deporte',
    'Event':'Evento',
    'Medal':'Medalla'}
atletas.rename(columns=renombrar_columnas, inplace=True)
atletas.head()

,Nombre,Sexo,Edad,Estatura,Peso,Equipo,Año,Temporada,Ciudad,Deporte,Evento,Medalla
0,A Dijiang,M,24.0,180.0,80.0,China,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,A Lamusi,M,23.0,170.0,60.0,China,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [57]:
df_prueba = atletas.copy()
df_prueba['Medalla'] = df_prueba['Medalla'].fillna('0')
df_prueba.head()

,Nombre,Sexo,Edad,Estatura,Peso,Equipo,Año,Temporada,Ciudad,Deporte,Evento,Medalla
0,A Dijiang,M,24.0,180.0,80.0,China,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,A Lamusi,M,23.0,170.0,60.0,China,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0

In [58]:
atletas = df_prueba.copy()
atletas.head()

,Nombre,Sexo,Edad,Estatura,Peso,Equipo,Año,Temporada,Ciudad,Deporte,Evento,Medalla
0,A Dijiang,M,24.0,180.0,80.0,China,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,A Lamusi,M,23.0,170.0,60.0,China,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0

In [59]:
def checar_nan():
    nan_valores = atletas.isna()
    nan_columnas = nan_valores.any()
    print(nan_columnas)

checar_nan()

Nombre       False
Sexo         False
Edad          True
Estatura      True
Peso          True
Equipo       False
Año          False
Temporada    False
Ciudad       False
Deporte      False
Evento       False
Medalla      False
dtype: bool

In [60]:
atletas.isnull().sum()

Nombre           0
Sexo             0
Edad          9474
Estatura     60171
Peso         62875
Equipo           0
Año              0
Temporada        0
Ciudad           0
Deporte          0
Evento           0
Medalla          0
dtype: int64

In [61]:
atletas['Edad'] = atletas['Edad'].fillna(round(atletas['Edad'].mean()))
atletas['Edad'].describe()

count    271116.000000
mean         25.572382
std           6.281384
min          10.000000
25%          22.000000
50%          25.000000
75%          28.000000
max          97.000000
Name: Edad, dtype: float64

In [62]:
atletas['Peso'] = atletas['Peso'].fillna(round(atletas['Peso'].mean()))
atletas['Peso'].describe()

count    271116.000000
mean         70.771411
std          12.575317
min          25.000000
25%          63.000000
50%          71.000000
75%          75.000000
max         214.000000
Name: Peso, dtype: float64

In [63]:
atletas['Estatura'] = atletas['Estatura'].fillna(round(atletas['Estatura'].mean()))
atletas['Estatura'].describe()

count    271116.00000
mean        175.26374
std           9.27917
min         127.00000
25%         170.00000
50%         175.00000
75%         180.00000
max         226.00000
Name: Estatura, dtype: float64

In [64]:
checar_nan()

Nombre       False
Sexo         False
Edad         False
Estatura     False
Peso         False
Equipo       False
Año          False
Temporada    False
Ciudad       False
Deporte      False
Evento       False
Medalla      False
dtype: bool

In [65]:
atletas.to_csv('registro_olimpico.csv', index=False)

In [66]:
registro = pd.read_csv('registro_olimpico.csv')
registro.head()

,Nombre,Sexo,Edad,Estatura,Peso,Equipo,Año,Temporada,Ciudad,Deporte,Evento,Medalla
0,A Dijiang,M,24.0,180.0,80.0,China,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,0
1,A Lamusi,M,23.0,170.0,60.0,China,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,0
2,Gunnar Nielsen Aaby,M,24.0,175.0,71.0,Denmark,1920,Summer,Antwerpen,Football,Football Men's Football,0
3,Edgar Lindenau Aabye,M,34.0,175.0,71.0,Denmark/Sweden,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,0